<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wsbxd.spider.mapper.BookMapper">

    <sql id="Base_Column_List">
        id,url,title,author,type,lastUpdateTime,lastUpdateContent,lastUpdateContentUrl,status,addTime,updateTime,siteId
    </sql>

    <select id="getIdByUrl" parameterType="String" resultMap="Integer">
        SELECT
            id
        FROM
            t_book
        WHERE
            url = #{url}
    </select>

</mapper>