<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wsbxd.spider.mapper.TypeMapper">

    <sql id="Base_Column_List">
        id,name,url,siteUrl
    </sql>

    <select id="selectBySiteUrl" parameterType="String" resultType="com.wsbxd.spider.domain.po.Type">
        select <include refid="Base_Column_List"/> from t_type where siteUrl = #{siteUrl}
    </select>

    <delete id="deleteBySiteUrl" parameterType="String">
        delete from t_type where siteUrl = #{siteUrl}
    </delete>

</mapper>